#  Local .terraform directories
**/.terraform/*

# .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files
*.tfvars

# plan files
plan.terraform

# EKS authentication file
config-map-aws-auth*

# New relic infrastructure monitoring
kube-state-metrics-release-1.3/*

# Mac OS system files
.DS_Store

# Environment file
.env
